<ol>
{% for word in words %}
    <li>
    <p>What is the definition of: {{word.word}}?</p>
    <button type="button" onclick="alert('{{word.definition}}')">Reveal answer!</button>
    <br><br>
    <form action="{% url 'process_correctness' word.word %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Correct">
    </form>
    <form action="{% url 'process_incorrectness' word.word %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Incorrect">
    </form>
    </li>
{% endfor %}
</ol>